apiVersion: apps/v1
kind: Deployment
metadata:
  name: fts-indexer-deployment
  labels:
    app: fts-indexer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fts-indexer
  template:
    metadata:
      labels:
        app: fts-indexer
    spec:
      containers:
      - name: fts-indexer
        image:  atlasanalyticsservice/containers:latest
        args: ["/FTS/run.sh"]
        env:
          - name: MQ_USER
            valueFrom:
              secretKeyRef:
                name: mq-auth-fts
                key: mq_user
          - name: MQ_PASS
            valueFrom:
              secretKeyRef:
                name: mq-auth-fts
                key: mq_pass
          - name: MQ_HOST
            valueFrom:
              secretKeyRef:
                name: mq-auth-fts
                key: mq_host